In [20]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
import ipywidgets as widgets

# Import the API key
from config import g_key

In [21]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2021-11-22 19:11:21,-33.6500,115.3333,55.04,65,98,9.66
1,1,Punta Arenas,CL,2021-11-22 19:09:30,-53.1500,-70.9167,46.51,46,75,25.32
2,2,Requena,ES,2021-11-22 19:11:22,39.4883,-1.1004,48.13,96,100,5.86
3,3,New Norfolk,AU,2021-11-22 19:11:23,-42.7826,147.0587,52.72,76,80,2.62
4,4,Ushuaia,AR,2021-11-22 19:11:24,-54.8000,-68.3000,40.66,70,75,29.93

In [22]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [23]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key= g_key)

In [24]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [25]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of Percent Humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of Percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Ask the customer to add a minimum and maximum temperature value
min_tem = float((input("What is the minimum temperature you would like for your trip?")))
max_tem = float((input("What is the maximum temperature you would like for your trip?")))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [30]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_tem) &  (city_data_df["Max Temp"] >= min_tem)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
11,11,Moshi,TZ,2021-11-22 19:09:14,-3.3500,37.3333,77.38,62,99,9.80
16,16,Sao Filipe,CV,2021-11-22 19:11:32,14.8961,-24.4956,81.43,67,5,10.47
18,18,Bambous Virieux,MU,2021-11-22 19:11:33,-20.3428,57.7575,75.45,78,40,5.75
20,20,Suba,PH,2021-11-22 19:11:35,10.8438,121.0102,84.25,77,63,16.67
28,28,Touros,BR,2021-11-22 19:06:30,-5.1989,-35.4608,85.10,71,100,16.49
30,30,Majene,ID,2021-11-22 19:11:41,-3.5403,118.9707,78.64,85,98,3.27
33,33,Tiarei,PF,2021-11-22 19:11:43,-17.5333,-149.3333,84.22,82,26,10.49
37,37,Butaritari,KI,2021-11-22 19:11:45,3.0707,172.7902,80.58,81,36,14.52
38,38,Kapaa,US,2021-11-22 19:11:46,22.0752,-159.3190,80.92,72,1,1.99
39,39,Hilo,US,2021-11-22 19:10:58,19.7297,-155.0900,79.25,66,20,3.44

In [31]:
preferred_cities_df.count()

City_ID       187
City          187
Country       187
Date          187
Lat           187
Lng           187
Max Temp      187
Humidity      187
Cloudiness    187
Wind Speed    187
dtype: int64

In [32]:
# Create DataFrame called hotel_df to store hotel names along with City, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
11            Moshi      TZ     77.38  -3.3500   37.3333
16       Sao Filipe      CV     81.43  14.8961  -24.4956
18  Bambous Virieux      MU     75.45 -20.3428   57.7575
20             Suba      PH     84.25  10.8438  121.0102
28           Touros      BR     85.10  -5.1989  -35.4608
30           Majene      ID     78.64  -3.5403  118.9707
33           Tiarei      PF     84.22 -17.5333 -149.3333
37       Butaritari      KI     80.58   3.0707  172.7902
38            Kapaa      US     80.92  22.0752 -159.3190
39             Hilo      US     79.25  19.7297 -155.0900

In [33]:
# Set the parameter to search for 
params = {"radius": 5000, 
         "types": "lodging",
         "key": g_key}
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary 
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search 
    hotels = requests.get(base_url, params = params).json()
    # Grab the first hotel from the results and store the name
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [34]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
11,Moshi,TZ,77.38,-3.3500,37.3333,Osy Grand Hotel
16,Sao Filipe,CV,81.43,14.8961,-24.4956,Hotel Xaguate
18,Bambous Virieux,MU,75.45,-20.3428,57.7575,Casa Tia Villa
20,Suba,PH,84.25,10.8438,121.0102,Jarnchi Pension House
28,Touros,BR,85.10,-5.1989,-35.4608,INN NEW HORIZON
30,Majene,ID,78.64,-3.5403,118.9707,Kost Putri RABBANI
33,Tiarei,PF,84.22,-17.5333,-149.3333,Le Rocher de Tahiti
37,Butaritari,KI,80.58,3.0707,172.7902,Isles Sunset Lodge
38,Kapaa,US,80.92,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
39,Hilo,US,79.25,19.7297,-155.0900,Hilo Hawaiian Hotel

In [35]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
info_box_templete = """
<dl>
<dt>Hotel Name<dt/><dd>{Hotel Name}<dd/>
<dt>City<dt/><dd>{City}<dd/>
<dt>Country<dt/><dd>{Country}<dd/>
<dt>Max Temp<dt/><dd>{Max Temp} °F<dd/>
</dl>
"""

In [40]:
# Store the DataFrame Row
hotel_info = [info_box_templete.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))